{% extends "base.html" %}
{% load crispy_forms_tags %}   
  
{% block content %} 
{% include 'messages.html' %}

<div class="flex items-center justify-center min-h-screen bg-gray-300">
    <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg rounded-lg">
      <h1 class="text-3xl font-bold text-blue-700 text-center">Kanban</h1>
        <h3 class="text-2xl font-semibold text-gray-700 text-center">Вход на сайт</h3>
        <div class="mt-4 px-4 py-4 text-gray-700">
      <form method="POST">
       {% csrf_token %}
       {{ login_form|crispy }}
      <div class="text-center"><button id="button" type="submit" class="bg-blue-700 hover:bg-blue-500 text-white font-semibold text-sm rounded-lg px-4 py-2 focus:outline-none  ">Войти</button> </div>
       </form>
        <br>
       <p class="text-center text-gray-700 font-bold">Нет аккаунта? <a href="/register" class="bg-blue-700 hover:bg-blue-500 rounded-lg text-sm font-semibold text-white px-4 py-2 inline-flex">Зарегистрируйтесь</a></p>

</div>
</div>

{% endblock %}